{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/style/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/nav/nav.css' %}">
    <link rel="stylesheet" href="{% static '/css/footer/footer.css' %}">
    <link rel="stylesheet" href="{% static '/css/about/about.css' %}">
    <link rel="stylesheet" href="{% static '/css/course/courses.css' %}">
    <link rel="stylesheet" href="{% static '/css/auth/registration.css' %}">
    <link rel="stylesheet" href="{% static '/css/auth/dash.css' %}">
</head>
<body>
    {% comment %} Nav Bar Start {% endcomment %}
    <section id="Nav_bar" class="nav_bar" >
        {% include "app/nav/nav.html" %}
        {% include "app/nav/nav_bg.html" %}
    </section>
    {% comment %} Nav Bar End {% endcomment %}

    {% block SomeData %}

    {% endblock  %}


    <section id="Main_bar" class="main_bar" >
        {% include "app/Auth/dash.html" %}
    </section>
    <section class="Courses"  >
        {% include "app/courses/courses.html" %}
    </section>

    <section>
        {% include "app/about/about.html" %}
    </section>

    <section id="Footer_bar" class="footer_bar" >
        {% include "app/footer/footer.html" %}
    </section>


   

</body>
</html>