{% load static %}
<nav>
    <div class="flex nav_Component">
        <div class="left">
            <span class="logo"> MY </span> <span> SirG.Com </span> <span> Premium </span>
        </div>
        <div class="right">
            <ul class="flex" >
                <li> <a href="#">courses</a> </li>
                <li> <a href="#">features</a> </li>
                <li> <a href="#">about us </a> </li>
                <li> <a href="#">login</a> </li>
            </ul>
        </div>
    </div>
</nav>