{% load static %}

<section class="footer" id="Footer">
    <div>
        <div class="flex footer_div1">
            <p>WE WOULD LOVE TO HEAR FROM YOU</p>
            <h1> GET IN TOUCH </h1>
        </div>
        <div class="flex footer_div2 ">
            <div class="left" >
                <div>
                    <p class="footer_div_p_color">E-MAIN</p>
                    <h2>contact@mysirg.com</h2>
                </div>

                <div>
                    <p class="footer_div_p_color">ADDRESS</p>
                    <h2>Bhopal - 462042</h2>
                </div>
            </div>

            <div class="right" >
                <div>
                    <p class="footer_div_p_color" >CALL</p>
                    <h2>9893194395</h2>
                </div>
                <div>
                    <p class="footer_div_p_color">SOCIAL LINKS</p>
                    <div>
                        <a href="" style="color: #000;">
                            <img class="w50px" src="{% static '/images/logo/01.png' %}" alt="Twitter">
                        </a>
                        <a href="">
                            <img class="w50px" src="{% static '/images/logo/02.png' %}" alt="facebook">
                        </a>
                        <a href="">

                            <img class="w50px" src="{% static '/images/logo/03.png' %}" alt="google">
                        </a>
                        <a href="">
                            <img class="w50px" src="{% static '/images/logo/04.png' %}" alt="linkedin">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_div3">
        <div class="footer_div3_a flex" >
            <div class="left flex ">
                <img src="{% static '/images/logo/facebook.png' %}" alt="facebook">
                <a href="#"> Youtube  </a>
                <a href="#"> Contact  </a>
                <a href="#"> About </a>
                <a href="#"> Terms  </a>
            </div>
            <div class=""> 
                <img src="{% static '/images/logo/google.png' %}" alt="google">
                <img src="{% static '/images/logo/linkedin.png' %}" alt="google">
                <img src="{% static '/images/logo/facebook.png' %}" alt="google">
                <img src="{% static '/images/logo/twitter.png' %}" alt="google">
            </div>
        </div>
    </div>
</section>