{% load static %}


<section>
    <div class="courses_data">
        <h1>Courses</h1>
        <div class="cards flex ">
            <div class="card">
                <div class="card_img" >
                    <img src="{% static 'images/c1.png' %}" alt="">
                </div>
                <div class="card_h1">
                    <h1> Full Stack Web Development MasterClass </h1>
                </div>
                <div class="card_less_fees flex ">
                    <span> 29 Lessons </span>
                    <span class="fees" > 10000 </span>
                </div>
            </div>
        </div>
    </div>
</section>