{% load static %}


<section>
    <div class="courses_data">
        <h1>Courses</h1>
        <div class="cards flex ">


            {% for i in data %}

            <div class="card">
                <div class="card_img" >
                    <img src="{% static 'media/' %}{{i.image}}" alt="" />
                </div>
                <div class="card_h1">
                    <h1> {{i.course_title}} </h1>
                </div>
                <div class="card_less_fees flex ">
                    <span> {{i.course_lession}} </span>
                    <span class="fees" > {{i.course_fees}} </span>
                </div>
            </div>

            {% endfor %}













        </div>
    </div>
</section>