{% load static %}
<section class="about_Page" >
    <div>
        <div>
            <h1> About </h1>
        </div>
        <div>
            <img width="300px" src="{% static 'images/How_to_crack.png' %}" alt="">
            <div>
                <h1>Saurabh Shukla  </h1>
                <p> Saurabh is passionate teacher, teaching Computer related subjects including programming. He is a great motivator, guide and programmer. He has done Master of Computer Applications from National Institute of Technology, Bhopal. He comes with 14 years of teaching experience and loves interacting with students. He is a popular YouTuber since 2014. </p>
            </div>
        </div>
    </div>
</section>