<section class="register" >
    <div>
        <form action="{% url 'regisdata' %}" class="form" method="post" >
            {% csrf_token %}
            <h1> Registration </h1>
            <h3 style="color : red;" > {{msg}} </h1>
            <label for=""> Name </label>
            <input type="text" name="name" >
            <label for=""> Email </label>
            <input type="email" name="email">
            <label for=""> Password </label>
            <input type="password" name="pass1">
            <label for=""> Confirm Password </label>
            <input type="password" name="pass2" >
            <div class="btn" >
                <button> Register </button>
            </div>
        </form>
    </div>
</section>